
.App {
  text-align: center;
}
.bg-custom-gold {
  background-color: #FF9F00;
}
header{
  width: 100%;
  height: auto;
  font-family: 'Times New Roman', Times, serif;
  
 
}
header p{
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  font-weight: bold;
}
section{
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 100px;
  padding: 20px;
  background-color: white;
}
section h1{
  color: #FF9F00;
}
section p{
  color: grey;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}
footer{
  background-color: #e6e6ecc0;
  color: #FF9F00;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

App-header {
  background-color: #e6e6ecc0;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
